<template>
  <Listbox
    :model-value="modelValue"
    @update:model-value="updateModelValue($event.value)"
  >
    <ListboxLabel
      v-if="label"
      class="block text-sm text-gray-700"
    >
      {{ label }}
    </ListboxLabel>

    <div class="mt-1 relative">
      <ListboxButton
        class="
          bg-white relative w-full border border-gray-300 rounded-md
          shadow-sm pl-3 pr-10 py-2 text-left cursor-default
          focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500"
      >
        <span class="block truncate">{{ selected?.name || placeholder }}</span>
        <span class="absolute inset-y-0 right-0 flex items-center pr-2 pointer-events-none">
          <SelectorIcon
            class="h-5 w-5 text-gray-400"
            aria-hidden="true"
          />
        </span>
      </ListboxButton>

      <transition
        leave-active-class="transition ease-in duration-100"
        leave-from-class="opacity-100"
        leave-to-class="opacity-0"
      >
        <ListboxOptions
          class="
            absolute z-10 mt-1 w-full bg-white shadow-lg max-h-60 rounded-md py-1
            text-base ring-1 ring-black ring-opacity-5 overflow-auto
            focus:outline-none"
        >
          <ListboxOption
            v-for="(option, index) in options"
            :key="index"
            v-slot="{ active }"
            as="template"
            :value="option"
            :disabled="option.disabled"
          >
            <li
              class="cursor-default select-none relative py-2 pl-3 pr-9"
              :class="active ? 'text-white bg-indigo-600' : 'text-gray-900'"
            >
              <span
                :class="[
                  'block truncate',
                  selected?.value === option.value ? 'font-semibold' : 'font-normal',
                  option.disabled ? 'text-gray-400': '',
                ]"
              >
                {{ option.name }}
              </span>

              <span
                v-if="selected?.value === option.value"
                class="absolute inset-y-0 right-0 flex items-center pr-4"
                :class="active ? 'text-white' : 'text-indigo-600'"
              >
                <CheckIcon
                  class="h-5 w-5"
                  aria-hidden="true"
                />
              </span>
            </li>
          </ListboxOption>
        </ListboxOptions>
      </transition>
    </div>
  </Listbox>
</template>

<script lang="ts">
import { defineComponent, computed, PropType } from 'vue';

// [組件]
import {
  Listbox, ListboxButton, ListboxLabel, ListboxOption, ListboxOptions,
} from '@headlessui/vue';
import { CheckIcon, SelectorIcon } from '@heroicons/vue/solid';

export default defineComponent({
  name: 'BaseSelect',

  components: {
    Listbox,
    ListboxButton,
    ListboxLabel,
    ListboxOption,
    ListboxOptions,
    CheckIcon,
    SelectorIcon,
  },

  props: {
    modelValue: {
      required: true,
      type: [String, Number, Boolean, Array, Object, Date, Function, Symbol],
    },

    label: {
      type: String,
      default: '',
    },

    items: {
      type: Array as PropType<any>,
      default: () => [],
    },

    itemDsiabled: {
      type: String,
      default: 'disabled',
    },

    itemName: {
      type: String,
      default: 'name',
    },

    itemValue: {
      type: String,
      default: 'value',
    },

    placeholder: {
      type: String,
      default: '請選擇一個選項',
    },
  },

  emits: ['update:model-value'],

  setup(props, { emit }) {
    const options = computed(() => props.items.map((x) => {
      if (typeof x === 'object') {
        return {
          name: x[props.itemName],
          value: x[props.itemValue],
          disabled: x[props.itemDsiabled],
        };
      }

      return { name: x, value: x, disabled: false };
    }));

    const selected = computed(() => options.value.find((x) => x.value === props.modelValue));
    const updateModelValue = (val: string | number) => emit('update:model-value', val);

    return {
      options,
      selected,
      updateModelValue,
    };
  },
});
</script>
