<script setup lang="ts">
import {
  defineProps, reactive, computed, PropType, watch,
} from 'vue';
import { chunk } from 'lodash-es';
import BasePagination from '@/components/BaseComponents/BasePagination.vue';
import BaseSelect from '@/components/BaseComponents/BaseSelect.vue';

interface HeaderModel {
  text: string;
  value: string;
}

interface ItemModel {
  // eslint-disable-next-line @typescript-eslint/no-explicit-any
  [key: string]: any;
}

const props = defineProps({
  headers: {
    type: Array as PropType<HeaderModel[]>,
    default: () => [],
  },

  items: {
    type: Array as PropType<ItemModel[]>,
    default: () => [],
  },

  pageSizeItems: {
    type: Array as PropType<{ id: number, name: string, value: number}[]>,
    default: () => [
      { id: 0, name: '10', value: 10 },
      { id: 1, name: '50', value: 50 },
      { id: 2, name: '100', value: 100 },
    ],
  },

  pageSizeDefault: {
    type: Number,
    default: 10,
  },
});

const isEmpty = computed(() => !props.items.length);

const pagination = reactive({
  size: 10,
  current: 1,
});

const chunks = computed(() => chunk(props.items, pagination.size));

watch(chunks, () => {
  if (!chunks.value[pagination.current - 1]) {
    pagination.current = 1;
  }
});

// eslint-disable-next-line vue/no-setup-props-destructure
pagination.size = props.pageSizeDefault;
</script>

<template>
  <div class="flex flex-col">
    <div class="-my-2 overflow-x-auto">
      <div class="py-2 align-middle inline-block min-w-full">
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
              <tr>
                <th
                  v-for="(head, idx) in headers"
                  :key="idx"
                  scope="col"
                  class="
                    px-6 py-3 text-left text-xs font-medium
                    text-gray-500 tracking-wider whitespace-nowrap
                  "
                >
                  <slot
                    :name="`header_${head.value}`"
                    :item="head"
                  >
                    {{ head.text }}
                  </slot>
                </th>
              </tr>
            </thead>

            <tbody>
              <tr v-if="isEmpty">
                <td
                  class="
                      px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900 text-center
                    "
                  :colspan="headers.length"
                >
                  Empty
                </td>
              </tr>

              <tr
                v-for="(item, idx) in chunks[pagination.current - 1]"
                v-else
                :key="idx"
                :class="idx % 2 === 0 ? 'bg-white' : 'bg-gray-50'"
              >
                <td
                  v-for="(head, headIdx) in headers"
                  :key="headIdx"
                  class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"
                >
                  <slot
                    :name="head.value"
                    :item="item"
                  >
                    {{ item[head.value] }}
                  </slot>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="flex justify-between items-center">
      <div class="flex items-center">
        <span class="mr-2 text-sm">Page Items:</span>
        <BaseSelect
          v-model="pagination.size"
          :items="pageSizeItems"
          class="w-16"
          @change="pagination.current = 1"
        />
      </div>

      <BasePagination
        v-model="pagination.current"
        total-visible="5"
        :length="chunks.length"
      />
    </div>
  </div>
</template>
