<template>
  <div
    v-if="items.length"
    class="py-3 flex items-center justify-between"
  >
    <div class="flex-1 flex justify-between sm:hidden">
      <a
        class="
          relative inline-flex items-center px-4 py-2 select-none
          border border-gray-300 text-sm font-medium cursor-pointer
          rounded-md text-gray-700 bg-white hover:bg-gray-50
        "
        :class="modelValue > 1 ? '' : 'cursor-default text-gray-300'"
        @click="modelValue > 1 ? prev() : ''"
      >
        前一頁
      </a>

      <a
        class="
          ml-3 relative inline-flex items-center px-4 py-2 select-none
          border border-gray-300 text-sm font-medium cursor-pointer
          rounded-md text-gray-700 bg-white hover:bg-gray-50
        "
        :class="modelValue < length ? '' : 'cursor-default text-gray-300'"
        @click="modelValue < length ? next() : ''"
      >
        下一頁
      </a>
    </div>

    <div class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-end">
      <div>
        <nav
          class="relative z-0 inline-flex rounded-md shadow-sm -space-x-px"
          aria-label="Pagination"
        >
          <a
            class="
              relative inline-flex items-center px-2 py-2 rounded-l-md cursor-pointer
              border border-gray-300 bg-white text-sm font-medium text-gray-500
              hover:bg-gray-50
            "
            :class="modelValue > 1 ? '' : 'cursor-default text-gray-300'"
            @click="modelValue > 1 ? prev() : ''"
          >
            <span class="sr-only">Previous</span>
            <ChevronLeftIcon
              class="h-5 w-5"
              aria-hidden="true"
            />
          </a>

          <!-- 頁數 START -->
          <template v-for="(item, index) in items">
            <a
              v-if="item !== '...'"
              :key="index"
              aria-current="page"
              :class="[
                `relative inline-flex items-center px-4 py-2
              border text-sm font-medium select-none cursor-pointer`,
                modelValue === item
                  ? 'z-10 bg-indigo-50 border-indigo-500 text-indigo-600'
                  : 'bg-white border-gray-300 text-gray-500 hover:bg-gray-50'
              ]"
              @click="updateModelValue(item)"
            >
              {{ item }}
            </a>

            <span
              v-else
              :key="`...${index}`"
              class="
                relative inline-flex items-center px-4 py-2 border-gray-300
                bg-white border text-sm font-medium select-none
              "
            >
              {{ item }}
            </span>
          </template>

          <!-- 頁數 END -->
          <a
            class="
              relative inline-flex items-center px-2 py-2 cursor-pointer
              rounded-r-md border border-gray-300 bg-white text-sm
              font-medium text-gray-500 hover:bg-gray-50
            "
            :class="modelValue < length ? '' : 'cursor-default text-gray-300'"
            @click="modelValue < length ? next() : ''"
          >
            <span class="sr-only">Next</span>
            <ChevronRightIcon
              class="h-5 w-5"
              aria-hidden="true"
            />
          </a>
        </nav>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, computed } from 'vue';
import { ChevronLeftIcon, ChevronRightIcon } from '@heroicons/vue/solid';

/**
 * 按鈕顯示邏輯 source code: vuetify pagination
 * https://github.com/vuetifyjs/vuetify/blob/master/packages/vuetify/src/components/VPagination/VPagination.ts
 */

export default defineComponent({
  name: 'BasePagination',

  components: {
    ChevronLeftIcon,
    ChevronRightIcon,
  },

  props: {
    modelValue: {
      type: Number,
      default: 0,
    },

    totalVisible: {
      type: [String, Number],
      default: undefined,
    },

    length: {
      type: Number,
      default: 0,
    },
  },

  emits: ['update:modelValue'],

  setup(props, { emit }) {
    const getRange = (f: number, t: number) => {
      const range = [];

      const from = f > 0 ? f : 1;
      const to = t;

      for (let i = from; i <= to; i += 1) {
        range.push(i);
      }

      return range;
    };

    const items = computed(() => {
      // 最多可顯示數量
      const maxLength = Math.min(
        Math.max(0, props.totalVisible as number) as number || props.length as number,
        props.length as number,
      );

      // 若總頁數小於最多可顯示數量
      if (props.length <= maxLength) {
        return getRange(1, props.length);
      }

      const even = maxLength % 2 === 0 ? 1 : 0;
      const left = Math.floor(maxLength / 2); // 頭幾頁
      const right = props.length - left + 1 + even; // 尾幾頁

      // 若當前頁位於中間
      if (props.modelValue > left && props.modelValue < right) {
        const firstItem = 1;
        const lastItem = props.length;

        // 中間按鈕顯示範圍
        const start = props.modelValue - left + 2;
        const end = props.modelValue + left - 2 - even;

        // 前三個及後三個按鈕若不連續則用 ... 代替
        const secondItem = start - 1 === firstItem + 1 ? 2 : '...';
        const beforeLastItem = end + 1 === lastItem - 1 ? end + 1 : '...';

        return [1, secondItem, ...getRange(start, end), beforeLastItem, props.length];
      }

      // 若當前頁位於頭幾頁最後一頁
      if (props.modelValue === left) {
        const end = props.modelValue + left - 1 - even;
        return [...getRange(1, end), '...', props.length];
      }

      // 若當前頁位於尾幾頁第一頁
      if (props.modelValue === right) {
        const start = props.modelValue - left + 1;
        return [1, '...', ...getRange(start, props.length)];
      }

      // 若當前頁位於頭幾頁或最後一頁
      return [...getRange(1, left), '...', ...getRange(right, props.length)];
    });

    const prev = () => emit('update:modelValue', props.modelValue - 1);
    const next = () => emit('update:modelValue', props.modelValue + 1);
    const updateModelValue = (val: number | string) => emit('update:modelValue', val);

    return {
      items,
      prev,
      next,
      updateModelValue,
    };
  },
});
</script>
