<!-- loosy Font Awesome icon component for tailwindcss -->
<script setup lang="ts">
import type { IconDefinition } from '@fortawesome/fontawesome-common-types';
import { defineProps, PropType } from 'vue';

const props = defineProps({
  icon: { type: Object as PropType<IconDefinition>, required: true },
});

</script>

<template>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    :viewBox="`0 0 ${props.icon.icon[0]} ${props.icon.icon[1]}`"
  >
    <path
      fill="currentColor"
      :d="icon.icon[4] as string"
    />
  </svg>
</template>
