<script setup lang="ts">
/* global YT */

import {
  defineProps, ref,
} from 'vue';

const props = defineProps({
  videoId: { type: String, default: '' },
  videoUrl: { type: String, default: '' },
});

const iframe = ref<HTMLIFrameElement>();
let api: YT.Player;

/**
 * url for initializing Youtube Iframe
 */
let initUrl = '';
if (props.videoId) initUrl = `https://www.youtube.com/embed/${props.videoId}`;
// eslint-disable-next-line vue/no-setup-props-destructure
if (props.videoUrl) initUrl = props.videoUrl;
initUrl += '?enablejsapi=1';

/**
 * Initial Youtube iframe API on the fly
 */
const loadIframeAPI = document.createElement('script');
loadIframeAPI.src = 'https://www.youtube.com/iframe_api';
document.head.appendChild(loadIframeAPI);

const onYouTubeIframeAPIReady = () => {
  if (!iframe.value) return;
  api = new YT.Player(iframe.value, {});
};
Object.assign(window, { onYouTubeIframeAPIReady });
</script>

<template>
  <iframe
    ref="iframe"
    :src="initUrl"
    frameborder="0"
  />
</template>
