<script setup lang="ts">
// This starter template is using Vue 3 <script setup> SFCs
// Check out https://v3.vuejs.org/api/sfc-script-setup.html#sfc-script-setup
import {
  faPlayCircle,
  faStepBackward, faStepForward,
  faRandom, faUndoAlt,
} from '@fortawesome/free-solid-svg-icons';
import BaseTable from './components/BaseComponents/BaseTable.vue';
import FontAwesomeIcon from './components/FontAwesomeIcon.vue';

const state = '';
</script>

<template>
  <div class="flex flex-col relative w-full h-full">
    <div
      class="
        dark:bg-gray-600
        w-full h-full
        grid grid-cols-1
        grid-flow-row auto-rows-min lg:auto-rows-auto
        lg:grid-cols-3"
    >
      <div class="bg-red-700">
        left
      </div>
      <div class="lg:col-span-2 bg-green-700">
        <BaseTable />
      </div>
    </div>
    <div class="h-20 flex justify-center items-center bg-yellow-700">
      <div class="flex items-center space-x-6 text-white">
        <FontAwesomeIcon
          class="h-6 flex-shrink-0"
          :icon="faRandom"
        />
        <FontAwesomeIcon
          class="h-10 flex-shrink-0"
          :icon="faStepBackward"
        />
        <FontAwesomeIcon
          class="h-16 flex-shrink-0"
          :icon="faPlayCircle"
        />
        <FontAwesomeIcon
          class="h-10 flex-shrink-0"
          :icon="faStepForward"
        />
        <FontAwesomeIcon
          class="h-6 flex-shrink-0"
          :icon="faUndoAlt"
        />
      </div>
    </div>
  </div>
</template>

<style lang="scss">
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html, body, #app {
  width: 100%;
  height: 100%;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
</style>
